.header-title{height: 52px;background-color: #ffffff;margin:0 -32px;line-height: 52px;padding: 0 32px;}
.title-gap {color:#000000;margin: 0 15px;display: inline-block}
.mt-32{margin-top: 32px;}
.m-t-10{margin-top: 10px;}
.block-card-nbg{background-color: rgb(237,236,236);}
.block-card{background-color: #ffffff;padding: 20px;position: relative;}
.block-card-nbg2{background-color: rgb(237,236,236);padding: 20px;}

.bg3{background-color: #f0f0f0;}

.in-bl-line-item{display: inline-block;}

.font-color2-12{color:#a8b7c5;font-size: 12px;}
.font-12{font-size: 12px;}

.font-color3{color:#cf0218;}

.price-big{font-size: 30px;font-weight: bold;line-height: 70px;}
.padding-col{padding: 0 15px;}
.fl-r{float: right;}

.paginate-list-row2{font-size: 14px;}

.paginate-list-row{padding-top:20px; font-size: 14px;}
.paginate-list-row:hover{background-color: #00aced}
.bg-none{background-color: inherit !important;}

.sm-tag-text{font-size: 12px;}
.text-desc-decoration{border-bottom: 1px solid #efeff4;font-size: 14px;}

.col-gray-btn{width: 100%;background-color: #485465;border-radius: 8px;}

.no-border-input{border: none;padding: 0;}

.common-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222222;
    opacity: .5;
    z-index: 9999;
}

.phone-simulator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: 10000;
    /* display: none; */
}

.position-50-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}



@media screen and (max-height: 860px){
    .phone-simulator{
        height: 90%;
    }

    .phone-simulator img{height: 100%;}
}

.phone-simulator-iframe{
    position: absolute;
    top:11%;
    left:6%;
    height: 78%;
    width: 88%;
    background-color: #ffffff;
}

.bt-line-1{border-bottom: 1px solid #efeff4;}

.btn-radius{border-radius: 8px;}
.vue-dpn{display: none;}
.dpn{display: none;}

.left-content{min-height: 600px}

.cus-select{border: none;padding: 0;}

.increment-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background:no-repeat url('../../images/increment.png');
    background-size: 22px 22px;
}

.mb-12 {
    margin-bottom: 12px;
}

.m-b-10{margin-bottom: 10px;}

.m-l-12{margin-left: 12px;}

.v-a-b{vertical-align: bottom !important;}